<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Welcome</title>
    
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/welcome.css') }}">
</head>

<body class="index">
    
    <!-- Start Header Section -->
    <section class="header" id="home">
        <div class="container">
            <div class="intro-text">
                <h1>Welcome To <span>Landslide Predictor System</span></h1>
                <p>A landslide is a mass movement of material<br> such as rock, earth or debris, down a slope.</p>
                <a onclick="window.location.href='index' " class="page-scroll waves-effect btn btn-primary">Get Started</a>
            </div>
        </div>
    </section>

</body>
</html>
